/* slider.css */

.slider {
    position: relative;
    /* outline: 1px solid red; */
    max-width: 1200px;
    min-width: 1200px;
    padding-bottom: 40px;
}
.slider > img {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* 전환효과 */
    transition-duration: 1s;
}
.slider > img.show {
    opacity: 1;
}
.indicator {
    position: relative;
    z-index: 99;
    opacity: 1;
    left:50%;
    padding-top: 380px;
    /* border: 1px solid red; */
}
.indicator a {
    font-size: 0.5em;
    letter-spacing: 5px;
    color: #333;
}
.indicator > a.show {
    color: #0093a2 ;
}