/* slider.css */

.slider {
    position: relative;
    /* outline: 1px solid red; */
    max-width: 1200px;
    min-width: 1200px;
    padding-bottom: 40px;
}
.slider > img {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* 전환효과 */
    transition-duration: 1s;
}
.slider > img.show {
    opacity: 1;
}
.indicator {
    position: relative;
    opacity: 1;
    left:50%;
    padding-top: 380px;
    /* border: 1px solid red; */
}
.indicator a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #666;
    font-size: 1em;
    margin: 4px;
    color: #666;
    border-radius: 20px;
    text-indent: -9999px;
}
.indicator > a.show {
    background: #0093a2;
    color: #0093a2;
}